<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Post In Detail</title>
</head>
<body>
    <h2>Here is your post post</h2>
    <div class="Post">
        Post Id: <%= post.id %> <br><br>
        username: @<%= post.username %> <br><br>
        content: <%= post.content %>
    </div>
    
</body>
</html>